.delete_comment {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.delete_comment_buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.delete_comment_buttons p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8b8e91;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    margin-right: 20px;
}

.delete_comment_buttons input {
    background-color: rgba(139, 142, 149, 0.8);
    text-transform: uppercase;
    padding: 5px 13px;
    font-size: 15px;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.delete_comment_buttons input:hover {
    background-color: rgba(255, 255, 255, 0.7);
}